@{
    ViewBag.Title = "Index";
}



@*<section class="content-wrapper main-content clear-fix">*@
<div style="margin-left: 10%; margin-right: 10%">
    @*<h2>Admin Index</h2>*@
    @(Html.Partial("_ProductIndex"))

</div>
@*</section>*@



